@using HH_client_manager.Models.Database;
@model PCLAssessmentViewModel;


@{
    ViewData["Title"] = "Create PCL Assessment";
}

<h2>PCL Assessment</h2>

    @*action, then the controller name*@

@using (Html.BeginForm("CreatePCLAssessment", "PCLAssessment"))
{


    PCLAssessment pCLAssessment = Model.pCLAssessment;



        <div class="editor-label">
            @Html.LabelFor(model => pCLAssessment.ClientID, "Client ID: ")
        </div> <!--end of "form-group" div for Patient Name-->

        <div class="col-md-offset-0">

            @Html.EditorFor(model => pCLAssessment.ClientID)

            @Html.ValidationMessageFor(model => pCLAssessment.ClientID, "", new { @class = "text-danger" })

        </div> <!--end of "col-md-10" div for Patient Name-->

        <br />

        <div class="editor-label">

            @Html.LabelFor(model => pCLAssessment.Date, "Date: ")

        </div><!--end of "form-group" div for Today's Date-->

        <div class="col-md-offset-0">

            @Html.TextBoxFor(Model => pCLAssessment.Date, new { type = "date" })

        </div><!--end of "col-md-10" div for Today's Date-->


        <br />
        <br />

        <p>
            If an event listed on the Life Events Checklist <strong>happened to you </strong> or you <strong>witnessed it, </strong>
            please complete the items below. If more than one event happened, please choose the one that is <strong>most troublesome to you now.</strong>
        </p>

        <br />
        <br />

        <div class="editor-label">
            @Html.LabelFor(model => pCLAssessment.Event_description, "Event: ")

            <div class="col-md-offset-0">

                @Html.EditorFor(model => pCLAssessment.Event_description)

                @Html.ValidationMessageFor(model => pCLAssessment.Event_description, "", new { @class = "text-danger" })

            </div> <!--end of "col-md-10" div for Event-->

        </div> <!--end of "form-group" div for Event-->

        <div class="editor-label">

            @Html.LabelFor(model => pCLAssessment.Event_date, "Date: ")

            <div class="col-md-offset-0">

                @Html.TextBoxFor(Model => pCLAssessment.Event_date, new { type = "date" })

            </div><!--end of "col-md-10" div for Event Date-->


        </div><!--end of "form-group" div for Event Date-->

        <div class="editor-label">

            @Html.LabelFor(model => pCLAssessment.Assessment_Type, "Assessment Type: ")

            <div class="col-md-offset-0">

                @Html.TextBoxFor(Model => pCLAssessment.Assessment_Type, new { @class = "text-danger" })

            </div><!--end of "col-md-10" div for Assessment Type-->


        </div><!--end of "form-group" div for Assessment Type-->

        <div class="editor-label">

            @Html.LabelFor(model => pCLAssessment.Edited_by, "Edited By: ")

            <div class="col-md-offset-0">

                @Html.TextBoxFor(Model => pCLAssessment.Edited_by, new { @class = "text-danger" })

            </div><!--end of "col-md-10" div for Edited By -->


        </div><!--end of "form-group" div for Edited By-->

        <div class="editor-label">

            @Html.LabelFor(model => pCLAssessment.Edit_date, "Date: ")

            <div class="col-md-offset-0">

                @Html.TextBoxFor(Model => pCLAssessment.Edit_date, new { type = "date" })

            </div><!--end of "col-md-10" div for Edit Date-->


        </div><!--end of "form-group" div for Edit Date-->





   <table>



        <tr>

             <th>Number</th>

             <th>Bothered By</th>

             <th>Scale</th>


        </tr>


    

                @for ( int i =0; i < Model.pCLDetailDataEntry.Count; i++)
                {
        <tr>
            <td>@Html.DisplayFor(model => model.pCLDetailDataEntry[i].Bothered_by_order)</td>
            <td>@Html.DisplayFor(model => model.pCLDetailDataEntry[i].Bothered_by_Description)</td>
            <td>@Html.TextBoxFor(model => model.pCLDetailDataEntry[i].Scale_number)          

            </td>

        </tr>

               
              
            }


   </table>
       
    <br />
    <br />

    <input type="submit" value="Submit Form" />

}<!-- end of form-->
