@model IEnumerable<HHclientmanager.Models.Ppsr>

@{
    ViewData["Title"] = "ClientInfo";
}

<h2>PPSR Assessments for Client</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                PPSR Number
            </th>
            <th>
                Metric @Html.DisplayNameFor(model => model.A)
            </th>
            <th>
                Metric @Html.DisplayNameFor(model => model.B)
            </th>
            <th>
                Metric @Html.DisplayNameFor(model => model.C)
            </th>
            <th>
                Metric @Html.DisplayNameFor(model => model.D)
            </th>
            <th>
                Metric @Html.DisplayNameFor(model => model.E)
            </th>
            <th>
                Metric @Html.DisplayNameFor(model => model.F)
            </th>
            <th>
                Metric @Html.DisplayNameFor(model => model.G)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PpsrId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.B)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.G)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PpsrId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PpsrId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PpsrId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
