@model IEnumerable<HHclientmanager.Models.Cfar>

@{
    ViewData["Title"] = "ClientInfo";
}

<h2>CFARS Assessments for Client</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                CFAR Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anxiety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraumaticStress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depression)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmotionalityIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CfarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anxiety)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraumaticStress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depression)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmotionalityIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CfarId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CfarId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CfarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
